# The final assignment for Meta's Database Engineer course

Little Lemon analysis and sales report located after the setup phase.

Little Lemon is a family-owned Mediterranean restaurant. They are developing a Python-based application that needs to connect with the MySQL database so that the booking, menu and orders data can be stored in the respective tables. 

The restaurant owner wants to use the stored data to make data-driven decisions to increase their revenue. Establishing a database is one of their key objectives.

## Setup

### Establish a connection

In [79]:
import mysql.connector as connector

connection = connector.connect(
    user = "root",
    password = "little-lemon"
    )

### Create a cursor and a database

In [ ]:
cursor = connection.cursor()
create_database_query = """
CREATE DATABASE little_lemon_db
"""
cursor.execute(create_database_query)

In [43]:
use_database_query = """
USE little_lemon_db
"""
cursor.execute(use_database_query)

### Create tables

In [44]:
create_menuitem_table = """CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

create_menu_table = """CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID,ItemID)
);"""

create_booking_table = """CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

create_orders_table = """CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

create_employees_table = """CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
Name VARCHAR (255),
Role VARCHAR (100),
Address VARCHAR (255),
Contact_Number INT,
Email VARCHAR (255),
Annual_Salary VARCHAR (100)
);"""

In [45]:
# Create MenuItems table
cursor.execute(create_menuitem_table)

# Create Menu table
cursor.execute(create_menu_table)

# Create Bookings table
cursor.execute(create_booking_table)

# Create Orders table
cursor.execute(create_orders_table)

# Create Employees table
cursor.execute(create_employees_table)

### Insert data

In [46]:
#*******************************************************#
# Insert query to populate "MenuItems" table:
#*******************************************************#
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1, 'Olives','Starters',5),
(2, 'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10, 'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

#*******************************************************#
# Insert query to populate "Menu" table:
#*******************************************************#
insert_menu="""
INSERT INTO Menus (MenuID,ItemID,Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

#*******************************************************#
# Insert query to populate "Bookings" table:
#*******************************************************#
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1, 12, 'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

#*******************************************************#
# Insert query to populate "Orders" table:
#*******************************************************#
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

#*******************************************************#
# Insert query to populate "Employees" table:
#*******************************************************#
insert_employees = """
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(1,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(2,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(3,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(4,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(5,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(6,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');
"""

In [47]:
# Populate MenuItems table
cursor.execute(insert_menuitems)
connection.commit()

# Populate MenuItems table
cursor.execute(insert_menu)
connection.commit()

# Populate Bookings table
cursor.execute(insert_bookings)
connection.commit()

# Populate Orders table
cursor.execute(insert_orders)
connection.commit()

# Populate Employees table
cursor.execute(insert_employees)
connection.commit()

## Implementing and query stored procedures

Stored procedures are created to carry out routine operations on MySQL databases. They are consistent and make sure that the written SQL queries in the procedures are executed in the same way every time you call the stored procedure.

A stored procedure is created only once, and you store it in the MySQL database. You can call the stored procedures as many times as you need in your Python-based application.

### Establish connection

In [48]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database": "little_lemon_db",
    "user" : "root",
    "password" : "little-lemon"
}

try:
    pool_b = MySQLConnectionPool(pool_name = "pool_a",
                               pool_size = 2,
                               **dbconfig)
    print(f"The connection pool is created with a name: {pool_b.pool_name}")
    print(f"The pool size is: {pool_b.pool_size}")

except Error as er:
    print(f"Error code: {er.errno}")
    print(f"Error message: {er.msg}")

print("Getting a connection from the pool.")
connection2 = pool_b.get_connection()

# Create cursor object to communicate with entire MySQL database
print("Creating a cursor object.")
cursor = connection2.cursor()

The connection pool is created with a name: pool_a
The pool size is: 2
Getting a connection from the pool.
Creating a cursor object.

### Envoke procedures

In [49]:
procedure_peak_hour_query = """
CREATE PROCEDURE PeakHours()
BEGIN

SELECT 
    HOUR(BookingSlot) AS BookingHour,
    COUNT(*) AS NumberOfBookings
FROM
    Bookings
GROUP BY
    BookingHour
ORDER BY
    NumberOfBookings DESC;

END
"""

cursor.execute(procedure_peak_hour_query)
cursor.callproc("PeakHours")

results = next(cursor.stored_results())
dataset = results.fetchall()

for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description]

print(columns)
for data in dataset:
    print(data)

['BookingHour', 'NumberOfBookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

In [52]:
procedure_guest_status = """
CREATE PROCEDURE GuestStatus()
BEGIN

    SELECT
        CONCAT(Bookings.GuestFirstName, ' ', Bookings.GuestLastName) AS GuestName,
        Employees.Name as EmployeeName,
        Employees.Role,
        CASE
            WHEN Employees.Role = 'Manager' OR Employees.Role = 'Assistant Manager' THEN 'Ready to pay'
            WHEN Employees.Role = 'Head Chef' THEN 'Ready to serve'
            WHEN Employees.Role = 'Assistant Chef' THEN 'Preparing Order'
            WHEN Employees.Role = 'Head Waiter' THEN 'Order served'
            ELSE 'Status not defined'
        END AS OrderStatus
    FROM
        Bookings
    LEFT JOIN
        Employees ON Bookings.EmployeeID = Employees.EmployeeID;

END
"""

cursor.execute(procedure_guest_status)
cursor.callproc("GuestStatus")

results = next(cursor.stored_results())
dataset = results.fetchall()

for column_id in cursor.stored_results():
    columns = [ column[0] for column in column_id.description]

print(columns)
for data in dataset:
    print(data)

['GuestName', 'EmployeeName', 'Role', 'OrderStatus']
('Anna Iversen', 'Mario Gollini', 'Manager', 'Ready to pay')
('Joakim Iversen', 'Mario Gollini', 'Manager', 'Ready to pay')
('Vanessa McCarthy', 'Giorgos Dioudis', 'Head Chef', 'Ready to serve')
('Marcos Romero', 'Fatma Kaya', 'Assistant Chef', 'Preparing Order')
('Hiroki Yamane', 'Adrian Gollini', 'Assistant Manager', 'Ready to pay')
('Diana Pinto', 'Elena Salvai', 'Head Waiter', 'Order served')

### Close the connections

In [53]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.

## Little Lemon analysis and sales report

### Task 1

In [72]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

dbconfig = {
    "database": "little_lemon_db",
    "user" : "root",
    "password" : "little-lemon"
}

try:
    pool_b = MySQLConnectionPool(pool_name = "pool_b",
                               pool_size = 2,
                               **dbconfig)
    print(f"The connection pool is created with a name: {pool_b.pool_name}")
    print(f"The pool size is: {pool_b.pool_size}")

except Error as er:
    print(f"Error code: {er.errno}")
    print(f"Error message: {er.msg}")

print("Getting a connection from the pool.")
connection2 = pool_b.get_connection()

# Create cursor object to communicate with entire MySQL database
print("Creating a cursor object.")
cursor2 = connection2.cursor()

The connection pool is created with a name: pool_b
The pool size is: 2
Getting a connection from the pool.
Creating a cursor object.

### Task 2

In [73]:
# Connect the first guest
booking1 = """
INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(8,'Anees','Java','18:00:00',6);
"""

cursor2.execute(booking1)
connection2.commit()
print("""A new booking is added in the "Bookings" table.""")

# Connect the second guest
connection2 = pool_b.get_connection()
cursor2 = connection2.cursor()

booking2 = """
INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(5, 'Bald','Vin','19:00:00',6);
"""

cursor2.execute(booking2)
connection2.commit()
print("""A new booking is added in the "Bookings" table.""")

# Adding a new connection to connect the third user.
import mysql.connector as connector
try:
    connection3 = pool_b.get_connection()
    print("The guest is connected")
except:
    print("Adding new connection in the pool.")
        
    # Create a connection
    connection4 = connector.connect(user="root",password="little-lemon")
    # Add the connection into the pool
    pool_b.add_connection(cnx=connection4)
    print("A new connection is added in the pool.\n")
        
    connection3 = pool_b.get_connection()
    print("'connection3' is added in the pool.")
    
# Connect the third guest
cursor3 = connection3.cursor()
booking3 = """
INSERT INTO Bookings 
(TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES
(12, 'Jay','Kon','19:30:00',6);
"""

cursor3.execute(booking3)
connection3.commit()
print("""A new booking is added in the "Bookings" table.""")

from mysql.connector import Error
for connection in [connection2, connection4, connection3]:
    try:
        connection.close()
        print("Connection is returned to the pool")
    except Error as er:
        print("\nConnection can't be returned to the pool")
        print("Error message:", er.msg)

A new booking is added in the "Bookings" table.
A new booking is added in the "Bookings" table.
Adding new connection in the pool.
A new connection is added in the pool.

'connection3' is added in the pool.
A new booking is added in the "Bookings" table.
Connection is returned to the pool
Connection is returned to the pool

Connection can't be returned to the pool
Error message: MySQL Connection not available.

### Task 3

In [78]:
try:
    pool_b = MySQLConnectionPool(pool_name = "pool_b",
                               pool_size = 2,
                               **dbconfig)
    print(f"The connection pool is created with a name: {pool_b.pool_name}")
    print(f"The pool size is: {pool_b.pool_size}")

except Error as er:
    print(f"Error code: {er.errno}")
    print(f"Error message: {er.msg}")

# Get a connection from pool_a and create a cursor object to communicate with the database. 
print("Getting a connection from the pool.")
connection = pool_b.get_connection()
print("""The object "connection" is created with a connection link from the pool_a""")
print("""Creating a cursor object to communicate with the database.""")
cursor=connection.cursor()
print("""The cursor object "cursor" is created.""")

# The name and EmployeeID of the Little Lemon manager.
manager_query = """
SELECT 
Name, EmployeeID 
FROM Employees 
WHERE Role = 'Manager'
"""
cursor.execute(manager_query)

results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

# The name and role of the employee who receives the highest salary.
salary_query = """
SELECT 
Name, EmployeeID 
FROM Employees ORDER BY 
Annual_Salary DESC LIMIT 1
"""
cursor.execute(salary_query)
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

# The number of guests booked between 18:00:00 and 20:00:00.
cursor.execute("""SELECT 
COUNT(BookingID) n_booking_between_18_20_hrs
FROM Bookings 
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00';""")
results=cursor.fetchall()
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

# Full name and the BookingId of each guest  waiting to be seated  
# with the receptionist in sorted order with respect to their BookingSlot.

cursor.execute("""
SELECT 

Bookings.BookingID AS ID,  
CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, 

Role AS Employee

FROM Bookings 
LEFT JOIN 
Employees 
ON Employees.EmployeeID=Bookings.EmployeeID
WHERE Employees.Role = "Receptionist"
ORDER BY BookingSlot DESC;

""")
print("The following guests are waiting to be seated:")
results = cursor.fetchall()
columns = cursor.column_names
print(columns)
for result in results:
    print(result)

connection.close()

The connection pool is created with a name: pool_b
The pool size is: 2
Getting a connection from the pool.
The object "connection" is created with a connection link from the pool_a
Creating a cursor object to communicate with the database.
The cursor object "cursor" is created.
('Name', 'EmployeeID')
('Mario Gollini', 1)
('Name', 'EmployeeID')
('Mario Gollini', 1)
('n_booking_between_18_20_hrs',)
(17,)
The following guests are waiting to be seated:
('ID', 'GuestName', 'Employee')
(13, 'Jay Kon', 'Receptionist')
(17, 'Jay Kon', 'Receptionist')
(21, 'Jay Kon', 'Receptionist')
(12, 'Bald Vin', 'Receptionist')
(16, 'Bald Vin', 'Receptionist')
(20, 'Bald Vin', 'Receptionist')
(7, 'Anees Java', 'Receptionist')
(8, 'Anees Java', 'Receptionist')
(9, 'Anees Java', 'Receptionist')
(10, 'Anees Java', 'Receptionist')
(11, 'Anees Java', 'Receptionist')
(15, 'Anees Java', 'Receptionist')
(19, 'Anees Java', 'Receptionist')

### Task 4

In [75]:
# Create a stored procedure named BasicSalesReport. 
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

stored_procedure_query="""
CREATE PROCEDURE BasicSalesReport()

BEGIN
SELECT 
SUM(BillAmount) AS Total_Sale,
AVG(BillAmount) AS Average_Sale,
MIN(BillAmount) AS Min_Bill_Paid,
MAX(BillAmount) AS Max_Bill_Paid
FROM Orders;
END
"""

# Execute the query
cursor.execute(stored_procedure_query)

#********************************************#

# Call the stored procedure with its name
cursor.callproc("BasicSalesReport")

# Retrieve records in "dataset"
results = next(cursor.stored_results())
results = results.fetchall()

# Retrieve column names using list comprehension in a for loop 
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]

    
print("Today's sales report:")
for result in results:
    print("\t", cols[0], ":", result[0])
    print("\t", cols[1], ":", result[1])
    print("\t", cols[2], ":", result[2])
    print("\t", cols[3], ":", result[3])

Today's sales report:
	 Total_Sale : 243
	 Average_Sale : 48.6000
	 Min_Bill_Paid : 37
	 Max_Bill_Paid : 86

### Task 5

In [76]:
connection = pool_b.get_connection()
cursor = connection.cursor(buffered=True)

sql_query = """SELECT 
Bookings.BookingSlot,
CONCAT(Bookings.GuestFirstName," ",Bookings.GuestLastName) AS Guest_Name,
Employees.Name AS Emp_Name,
Employees.Role AS Emp_Role
FROM Bookings 
INNER JOIN 
Employees ON Bookings.EmployeeID=Employees.EmployeeID
ORDER BY Bookings.BookingSlot ASC;"""
cursor.execute(sql_query)
results=cursor.fetchmany(size=3)
#print(cursor.column_names)
for result in results:
    print("\nBookingSlot",result[0])
    print("\tGuest_name:",result[1])
    print("\tAssigned to:",result[2],"[{}]".format(result[3]))
    
connection.close()

BookingSlot 15:00:00
	Guest_name: Vanessa McCarthy
	Assigned to: Giorgos Dioudis [Head Chef]

BookingSlot 17:30:00
	Guest_name: Marcos Romero
	Assigned to: Fatma Kaya [Assistant Chef]

BookingSlot 18:00:00
	Guest_name: Anees Java
	Assigned to: John Millar [Receptionist]

# The end
Thank you!